<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
</head>
<body>
    <div class="container">
        <h1>New Ninja</h1>
        <form action="/save_ninja" method="POST">
            <div class="row">
                <label for="dojo">Dojo</label>
                <select name="dojo" id="dojo">
                    {% for dojo in dojos%}
                    <option value="{{dojo.id}}" >{{dojo.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
            </div>
            <div class="row">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
            </div>
            <div class="row">
                <label for="age">age</label>
                <input type="number" name="age">
            </div>
            <button type="submit">Create</button>
        </form>
        <a href="/">HOME</a>
    </div>
</body>
</html>