<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>
</head>
<body>
    <h1>Add a author</h1>
    <form action="/author/new" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Notes: <textarea name="notes" id="desc" cols="30" rows="10"></textarea>
        <button type="submit">Add an author</button>
    </form>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.first_name}} {{author.last_name}}</td>
                <td><a href="author/{{author.id}}">view</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>