<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Add a book</h1>
    <form action="/book/new" method="post">
        {% csrf_token %}
        Title: <input type="text" name="title">
        Description: <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <button type="submit">Add Book</button>
    </form>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td><a href="book/{{book.id}}">view</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>