*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 20px;

}

.checkerboard{
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.box{
    height: 50px;
    width: 50px;
}
